<!doctype html>

<html lang="en">
<head>

    <title>MovieScope</title><!--Title of each individual page-->
    <%- include('partials/header.ejs') %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>


</head>

<body>
<main>
    <div id="content">
        <%- include('partials/nav.ejs') %>
        <h3 class="center">Events</h3>
            <div>
                <table class="centerTable">
                    <tr>
                        <th>
                            <div class="centerTable">
                                <div class="myForm">
                                    <img class="centerPic" src="assets/images/FinlLogo.PNG" alt="MoviScope"><br>
                                    <%if(data.connection.length <= data.r.connectionID){%>
                                    <p>No Such ID Found!</p>
                                    <%console.log("Invalid ID")%>
                                    <%} else{%>
                                    <p>Connection ID:<%= data.connection[data.r.connectionID].connectionID %></p>
                                    <p>Director: <%= data.connection[data.r.connectionID].director %></p>
                                    <p>Movie: <%= data.connection[data.r.connectionID].movie %></p>
                                    <p>Score: <%= data.connection[data.r.connectionID].score %></p>
                                    <p>Review: <%= data.connection[data.r.connectionID].review %></p>
                                    <%}%>
                                </div>
                            </div>
                        </th>
                </table>
            </div>


        <div class="center">
            <p><em>Would You Like to Subscribe?</em></p>
            <button type="reset" class="button" onclick="changeURL()">Yes</button>
            <button type="reset" class="button" onclick="changeURL()">No</button>
        </div><br>
    </div>
</main>

<%- include('partials/footer.ejs') %>

</body>
